@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std"),
    url("../public/fonts/neo-sans-std.otf");
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std-bold"),
    url("../public/fonts/neo-sans-std-bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std-italic"),
    url("../public/fonts/neo-sans-std-italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "neo-sans-std";
  src: local("neo-sans-std-light"),
    url("../public/fonts/neo-sans-std-italic.otf");
  font-weight: 300;
}


body {
  margin: 0;
  font-family: "neo-sans-std";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3C4450;
}
