.advbg {
  background-image: url(adv-bg.png);
  box-shadow: 9px 9px 26px -9px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  transform: matrix(1, 0.02, -0.02, 1, 0, 0);
  background-position-x: -110px;
  background-position-y: -110px;
  background-repeat: no-repeat;
}

.num {
  box-shadow: 5px 4px 13px 2px rgba(0, 0, 0, 0.25);
}